<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="all">
</head>
<body>
{{.Header}}
<main>
    <h2>Blog homework</h2>
    <p>Hello! You have found my homework website.</p>
    <h3>Who am I?</h3>
    <p>My name is Murad Karammaev, and it just happens that I study at <a href="https://donstu.ru">DSTU</a>.</p>
    <p>Perhaps, you would like to check out my:</p>
    <ul>
        <li><a href="https://github.com/foxpy">GitHub</a>,</li>
        <li><a href="https://git.rfnull.com/foxpy">Self hosted Git Tea</a>,</li>
        <li><a href="https://share.rfnull.com">Self hosted file dumpster</a>,</li>
        <li><a href="https://t.me/foxpy">Telegram</a>,</li>
        <li>or maybe even write me an <a href="mailto:foxpy@rfnull.com">E-mail?</a></li>
    </ul>
    <p>I also maintain <a href="https://github.com/naelstrof/maim.git">maim</a> — a neat Linux screenshot tool!</p>
</main>
{{.Footer}}
</body>
</html>
