<footer>
    <hr>
    <p>
        <small>
            © 2021
            <a href="mailto:foxpy@rfnull.com">Murad Karammaev</a>,
            <a href="https://git.rfnull.com/foxpy/web-homework-blog.git">source code</a>
        </small>
    </p>
</footer>
