<header>
    <nav class="gap">
        <a href="/" {{if eq .Name "home.gohtml"}}class="current"{{end}}>Home</a>
        <a href="/about" {{if eq .Name "about.gohtml"}}class="current"{{end}}>About</a>
        <a href="/new" {{if eq .Name "new.gohtml"}}class="current"{{end}}>Create post</a>
    </nav>
</header>
